@charset "utf-8";

body {
    text-align: center;
    background-color: #303030;
}

#grad {
    background-image: linear-gradient(to bottom, #FF0, #F00);
}


.myDiv {
    margin: auto;
    width: 200px;
    height: 200px;
    border-radius: 20%;
    border: 10px solid #FFF;
}

.myHR {
    width: 56%;
    height: 56%;
    background-color: transparent;
    border-radius: 50%;
    border: 10px solid #FFF;
}

.myCircle {
    margin-left: 80%;
    margin-top: 13%;
    width: 8%;
    height: 8%;
    background-color: #FFF;
    border-radius: 50%;
    border: none;
}

.myText {
    color: #FFF;
    text-decoration: none;
}
